@import "~bulma/css/bulma.min.css";

body {
    background: #041221;
}
.card {overflow:hidden}
.card.large {
    height: 600px;
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    border-radius: 5px;
}
.media-content {
    overflow: hidden;
}
.title.no-padding {
    margin-bottom: 0 !important;
}
.footer{
    background-color: #222831;
    color: lemonchiffon;
}
.footer p, strong {
    color: lemonchiffon
}
.footer a:hover {
    color: crimson;
}
.fa {
    color: lemonchiffon;
    margin: 10px
}
